<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='lib/pico.amber.min.css')}}"
    >
    {% block head %}
    <title>Erik Göransson Gaspar</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <h2>Erik Göransson Gaspar</h2>
      <a href='{{url_for('static', filename='docs/CV.pdf')}}' style="width=50px;">CV</a>
      <a href='https://github.com/ErikGoranssonGaspar' style="width=90px;" target="_blank" rel="noopener noreferrer"><img src="{{url_for('static', filename='github-mark-white.svg')}}"></a>
    </header>
    <main>
      {% block main %}
      {% endblock %}
    </main>
    <footer>
      erikedwardgoransson@gmail.com
    </footer>
  </body>
</html>
