{% extends "base.html" %}

{% block mastermind %}
<div class="mastermind">
  <article>
    <header>
      MASTERMIND
      <a href="#">&#63;&#8413;</a>
    </header>
    <div class="history">
      <div class="history-entry">
        <div class="guess">
          <div class="circle green"></div>
          <div class="circle orange"></div>
          <div class="circle red"></div>
          <div class="circle purple"></div>
        </div>
        <div class="response">
          <div class="circle black"></div>
        </div>
      </div>
      <div class="history-entry">
        <div class="guess">
          <div class="circle purple"></div>
          <div class="circle green"></div>
          <div class="circle orange"></div>
          <div class="circle yellow"></div>
        </div>
        <div class="response">
          <div class="circle black"></div>
          <div class="circle white"></div>
          <div class="circle white"></div>
          <div class="circle white"></div>
        </div>
      </div>
      <div class="history-entry">
        <div class="guess">
          {% for i in range(4) %}
          <div class="dropdown">
            <div class="circle red dropdown-toggle"></div>
            <div class="dropdown-menu">
              {% set colors = ['red', 'blue', 'yellow', 'green', 'orange', 'purple'] %}
              {% for color in colors %}
              <div class="circle {{color}}" _="
                on click 
                remove .red from the previous .dropdown-toggle 
                then remove .blue from the previous .dropdown-toggle
                then remove .yellow from the previous .dropdown-toggle
                then remove .green from the previous .dropdown-toggle
                then remove .orange from the previous .dropdown-toggle
                then remove .purple from the previous .dropdown-toggle
                then add .{{color}} to the previous .dropdown-toggle
              "></div><br>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        <button hx-put="/guess" hx-vals="js:{...get_colors()}" hx-target="closest .mastermind">GUESS</button>
      </div>
    </div>
  </article>
  <section class="mastermind-bot">
    <p>264 possible moves (2.3 bits)</p>
    <h1>BEST GUESSES</h1>
    <div class="best-guess">
      <div class="circle green"></div>
      <div class="circle red"></div>
      <div class="circle orange"></div>
      <div class="circle purple"></div>
      <p>3.2 bits</p>
    </div>
    <div class="best-guess">
      <div class="circle blue"></div>
      <div class="circle yellow"></div>
      <div class="circle purple"></div>
      <div class="circle orange"></div>
      <p>2.8 bits</p>
    </div>
    <div class="ellipsis">&vellip;</div>
  </section>
</div>
{% endblock %}
