body>header {
  background-color: rgb(233, 175, 1);
  padding: 0.5em 1em;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;

}

header h2 {
  color: white;
  display: inline-block;
  margin-bottom: 0;
  flex: 1;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 1em;
}

header img {
  height: 1.2em;
  vertical-align: text-top;
}
